
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 0;
  display: grid;
  place-items: center;
  background-color: #b1b1b1;
  font-size: 15px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
.gen {
    border-color: #121212;
    display: block;
    border-radius: 3px;
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: #4cf7a4;
  color: #121212;
  font-size: 25px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition: 0.15s;
  box-shadow: 10px -10px #222222;
}

.btn:hover {
  box-shadow: -10px 10px #121212;
  color: #fbfbfb;
  letter-spacing: 1px;
  background-color: #276088;
}

.btn:focus {
  outline: none;
}
